<ion-header>
  <ion-toolbar>
    <ion-title>All Jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let job of jobs">
      <ion-card-header>
        <ion-card-title>{{ job.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Category:</strong> {{ job.cat_name }}</p>
        <p><strong>Sub-Category:</strong> {{ job.subcat_name }}</p>
        <p><strong>Budget:</strong> {{ job.minimum_amount }} - {{ job.amount }}</p>
        <p><strong>Delivery Time:</strong> {{ job.delivery_time }} days</p>
        <p [innerHTML]="job.description"></p>
        <p [innerHTML]="job.requirements"></p>
        <!-- You can add more fields as needed -->
      </ion-card-content>
      <div class="ion-padding">
        <ion-button (click)="bidNow(job.id)">Bid Now</ion-button>
      </div>
    </ion-card>
  </ion-list>

</ion-content>
